.App {
  text-align: center;
  width: 100vw;
  height: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Layout {
  width: 100%;
  height: 100%;
  /*background-color: gray;*/
  display: flex;
  flex-direction: column;
}

.Header {
  height: 70px;
  background-color: #40a2b2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
}

.header-left {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.Bottom {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Sidebar {
  width: 250px;
  background-color: #40a2b2;
}

.Main-Content {
  width: 100%;
}

.one-tab {
  width: 100%;
  height: 50px;
  justify-content: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

.one-tab-pointer {
  position: absolute;
  /*width: 10px;*/
  /*height: 10px;*/
  background-color: #40a2b2;
  left: 200px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid #40a2b2;
}

.one-tab:hover {
  background-color: white;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
